.palomita {
  background-image: url("images/palomita.png");
  position: absolute;
  left: 69px;
  top: 497px;
  width: 36px;
  height: 36px;
  z-index: 13;
}

.fecha {
  background-image: url("images/fecha.png");
  position: absolute;
  left: 66px;
  top: 385px;
  width: 43px;
  height: 45px;
  z-index: 11;
}
