.on {
  background-image: url("images/on.png");
  position: absolute;
  left: 184px;
  top: 40px;
  width: 103px;
  height: 54px;
  z-index: 31;
}
.off {
  background-image: url("images/off.png");
  position: absolute;
  left: 177px;
  top: 33px;
  width: 117px;
  height: 69px;
  z-index: 30;
}
.fondoNegro {
  background-image: url("images/fondoNegro.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 470px;
  height: 843px;
  z-index: 29;
}
.hidden {
  display: none;
}
.globos {
  background-image: url("images/globos.png");
  position: absolute;
  left: 270px;
  top: 295px;
  width: 136px;
  height: 174px;
  z-index: 27;
}
.pokemon {
  background-image: url("images/pokemon.png");
  position: absolute;
  left: 15px;
  top: 185px;
  width: 441px;
  height: 163px;
  z-index: 26;
}
.leon {
  background-image: url("images/leon.png");
  position: absolute;
  left: 86px;
  top: 606px;
  width: 305px;
  height: 135px;
  z-index: 26;
}

.cumpleanos {
  background-image: url("images/cumpleaños.png");
  position: absolute;
  left: 47px;
  top: 553px;
  width: 410px;
  height: 104px;
  z-index: 24;
}
.feliz {
  background-image: url("images/feliz.png");
  position: absolute;
  left: 11px;
  top: 479px;
  width: 235px;
  height: 98px;
  z-index: 23;
}
.confirmar {
  background-image: url("images/confirmar.png");
  position: absolute;
  left: 331px;
  top: 112px;
  width: 89px;
  height: 61px;
  z-index: 17;
}
.fecha {
  background-image: url("images/fecha.png");
  position: absolute;
  left: 189px;
  top: 112px;
  width: 89px;
  height: 61px;
  z-index: 16;
}
.ubicacion {
  background-image: url("images/ubicacion.png");
  position: absolute;
  left: 46px;
  top: 112px;
  width: 89px;
  height: 61px;
  z-index: 15;
}
.pikachu {
  background-image: url("images/pikachu.png");
  position: absolute;
  left: 95px;
  top: 308px;
  width: 320px;
  height: 336px;
  z-index: 14;
}
.fondo {
  background-image: url("images/fondo.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 470px;
  height: 843px;
}
